<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oui - Home</title>
    <link rel="stylesheet" href="/static/styles/main.css" />
    <link rel="stylesheet" href="/static/styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <a href="/" class="logo">
      <h1>Oui</h1>
    </a>

    <aside class="left-sidebar">
      <div class="profile">
        <img src="static/images/banner.jpg" class="banner" />

        <div class="overlay">
          <img src="{{user_profile.profile_img.url}}" class="profile-pic" />

          <div class="profile-inner">
            <a href="/profile/{{user.username}}">
              <h2>@{{user.username}}</h2>
            </a>
            <p>{{user_profile.bio}}</p>
            <p>{{user_profile.location}}</p>
            <div class="user-stats">
              <p><strong>{{user_post_count}}</strong> Posts</p>
              <p><strong>{{user_following_count}}</strong> Followers</p>
              <p><strong>{{user_follower_count}}</strong> Following</p>
            </div>
          </div>

          <button type="button" onclick="location.href = '/settings'">
            Account Settings
          </button>
          <button onclick="location.href = '/logout'">Log Out</button>
        </div>
      </div>
    </aside>

    <main>
      <div class="new-post">
        <a href="/profile/{{user.username}}">
          <img src="{{user_profile.profile_img.url}}" class="profile-img" />
        </a>

        <form action="upload" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <span>
            <label
              >What would you like to share today,
              <strong>@{{user.username}}</strong>?</label
            >
            <input
              type="text"
              name="caption"
              placeholder="What's on your mind?"
              required="required"
            />
            <button type="submit">→</button>
          </span>

          <label for="file-upload" class="custom-file-upload">
            Attach Media
          </label>
          <input id="file-upload" type="file" name="image_upload" />

          <a type="button">
            <!-- <img src="icons/mood.svg" /> -->
            Feelings/Mood</a
          >
        </form>
      </div>

      <div class="feed">
        {% for post in posts reversed %}
        <div class="post">
          <div class="post-header">
            <a href="/profile/{{post.user}}">
              <img src="{{post.profile_img_url}}" class="profile-img" />
            </a>
            <div>
              <a href="/profile/{{post.user}}"><h4>@{{post.user}}</h4></a>
              <small>{{post.created_at}}</small>
            </div>
          </div>

          {% if post.image %}
          <div class="post-content">
            <img src="{{post.image.url}}" alt="" class="post-img" />
          </div>
          {% endif %}

          <p>{{post.caption}}</p>

          <div class="likes-section">
            <a href="/like-post?post_id={{post.id}}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                width="25"
                height="25"
                class="like-btn"
              >
                <path
                  d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
                />
              </svg>
            </a>
            <span class="likes">
              {% if post.no_of_likes == 0 %}
              <p>No likes</p>
              {% elif post.no_of_likes == 1 %}
              <p>Liked by {{post.no_of_likes}} person</p>
              {% else %}
              <p>Liked by {{post.no_of_likes}} people</p>
              {% endif %}
            </span>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>

    <aside class="right-sidebar">
      <form action="/search" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Search for a user..." />
        <button type="submit" id="search-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="white"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>
      </form>

      <div class="suggested-users">
        <h3>People you may know</h3>
        {% if suggested_users|length == 0 %}
        <p>
          <em>
            No more users to follow.<br />Invite your friends to
            <strong>Oui</strong> today!
          </em>
        </p>
        {% else %} {% for user in suggested_users %}
        <div class="post-header">
          <a href="/profile/{{user.user}}">
            <img src="{{user.profile_img.url}}" class="profile-img" />
          </a>
          <div>
            <a href="/profile/{{user.user}}">
              <h4>@{{user.user}}</h4>
            </a>
            <small>{{user.bio}}</small>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </aside>
  </body>
</html>
