/* login.html styles */
body {
  background-color: var(--background);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body>div {
  padding: 1rem 2rem;
}

.login-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}

.left-container {
  max-width: 31rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

main {
  max-width: 35rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.main-heading {
  font-weight: 400;
  font-size: 3rem;
}

form {
  margin-top: 3rem;
  width: 100%;
}

.signup {
  margin-top: 6rem;
  font-size: 0.75rem;
}

.signup button {
  margin-top: 1rem;
}

.login-right {
  background-image: url("/static/images/login_splash.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.message {
  color: var(--warning);
  margin-bottom: -3rem;
}